.column {
    float: left;
    padding: 50px;
    display: table-cell;
}

#leftmenu {
    background-color: #AFCCA5;
    width: 20%;
}

#topmenu {
    background-color: #AFCCA5;
    width: 100px;
    display: table-cell;
    padding: 30px;
}

.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
    padding: 50px;
}

* {
    font-family: "Arial";
    font-size: 12px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

#bouton-action {
    border-radius: 3px;
    background-color: #AAFFAA;
    padding: 5px;
}

#bouton-agence {
    border-radius: 3px;
    background-color: #77CCFF;
    padding: 5px;
}

#bouton-effacer {
    border-radius: 3px;
    background-color: #FF6262;
    padding: 5px;
}


a:link {
     text-decoration: none;
     color: black;
     padding: 0px;
}

a:visited{
     text-decoration: none;
     color: black;
     padding: 0px;
}

#ligne1-action {

}

#ligne2-action {

}

#corps-action {
    background-color: #DDDDDD;

}

#id_nom_agence {
    width: 400px;
}

#bandeau {
    background-color: #DDDDDD;
}

#zonecouleur {
    padding-left: 20px;
}

#zone_verte {
    background-color: #77FF77;
    padding: 20px;
}

#zone_rose {
    background-color: #F9AAD2;
}

#zone_bleue {
    background-color: #ADCBFF;
}

#zone_jaune {
    background-color: #FFFF4A;
}
